.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 81vh;
    text-align: center;
}

.homepage-btn{
    background-color: red;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}

