/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("../public/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
