#root {
    background-color: blue;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.App {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

#head-title {

}

.correct-answer {
    background-color: green;
}

.incorrect-answer {
    background-color: red;
}

#answer-container {

    display: grid;
    grid-template-columns: repeat(2, auto);
}

#answ-btn {
    font-family: "Comic Sans MS";
    background-color: azure;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px 1px;
    grid-template-columns: repeat(2, auto);
}

#questions {
    font-family: "Comic Sans MS";
}
